@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
  --card: #ffffff;
  --chart-card: #778899;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-white);
  font-family: var(--font-primary);
}
